main {
    max-width:90%;
    margin:0 auto;
}

th.description {
    width:650px;
}

td.description {
    width:650px;
    display:flex;
    align-content: center;
    align-items: center;
    height: 90px;
}


main .btn {
    padding: .200rem .5rem;
    font-size: 0.7rem;
    margin:2px 2px 2px 2px;
}

main .td_el {
   
    align-items: center;
    display:flex;
    justify-content:center;
    height:90px;

}

main th {
   
    text-align: center;
  
}

main .content-control {
    align-items: center;
    display:flex;
    justify-content:center;
    height:90px;
}

main .content-control ul {
display:flex;
flex-direction: column;
}

