.tags_list ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    svg {

    
            width: 0.475em;
    }

    .svg-inline--fa.fa-w-14 {
        width: 1.05em;
    }

    .svg-inline--fa.fa-w-18 {
        width: 1.05em;
    }